body{
  font-family: 'Arial';
  font-style: normal;
  text-align: center;
}

header{
  background-color: #FAFAD2;
  font-family: 'Verdana', monospace;
  color: #FFFF00;
  text-align: center;
  border: 2px black solid;
  margin-bottom: 2px;
  padding-bottom: 2px;
  margin: 1;
  height: 3em;
}

h1 {
  background-color: #FAFAD2;
  color: Brown;
  font-family: 'Verdana';
  font-size: 100px;
  border: 2px black solid;
  margin-bottom: 2px;
  padding-bottom: 2px;
}
        
h2 {
  background-color: #FAFAD2;
  color: DarkOrange;
  font-family: 'Verdana';
  font-size: 50px;
  border: 2px black solid;
  margin-bottom: 2px;
  padding-bottom: 2px;
}


.dropdown {
    display: inline-block;
    margin: 0 0;
    min-width: 8em;
    text-align: center;
    background-color: black;
    padding: 0.5em 0;
}
.dropdown a {
    color: white;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    margin-top: 0.5em;
    color: #000;
    background-color: #FAFAD2;;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-item {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: #FFFAF0;
    background-color: #FAFAD2;
}


.direction {
    height: 125px;
    width: 35%;
    background-color: #FAFAD2;
    border-radius: auto;
    margin: auto;
    padding: .5em;
    overflow: scroll;
}
